.social__link-icon {
  text-decoration: none;

  color: #000d6b;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__btn {
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 7px 15px;
  background: #ffc812;
  color: #262626;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact__btn:hover {
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 40px;
    font-size: 0.8rem;
  }
}
